.home {
    text-align: center;
  }
  
  .home-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin: 20px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #61dafb;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }